.App {
  text-align: center;
  background: linear-gradient(60deg, #fffcea, #ffea7a);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  gap: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 3rem;
  padding: 3rem;
  background-color: #fff;
  width: 20%;
  box-shadow: 
  0 2px 6px rgba(0, 0, 0, 0.04),
  0 8px 24px rgba(0, 0, 0, 0.06);
  border-radius: 10px;

  div {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    height: 50px;
    width: 100%;
  }

  p {
    font-weight: bolder;
    font-size: 16px;
    padding: 0;
    margin: 0;
  }
}

input {
  width: 90%;
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid #222;
  margin-top: 5px;
  font-size: 14px;
}

input:focus {
  outline: none;
  border-color: #ffd01c;
  box-shadow: 0 0 0 3px rgba(255, 208, 28, 0.25);
}

button {
  padding: 1rem 2rem;
  border-radius: 5px;
  border: none;
  font-size: 14px;
  color: #222;
  background: #ffd01c;
  font-weight: bolder;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
